<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="{% url 'books' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'books' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'books' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'books' %}" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Popular
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="books-link">
                <a href="{% url 'books' %}?category=fiction" class="dropdown-item">Fiction</a>
                <a href="{% url 'books' %}?category=non_fiction" class="dropdown-item">Non-Fiction</a>
                <a href="{% url 'books' %}?category=true_crime" class="dropdown-item">True Crime</a>
                <a href="{% url 'books' %}?category=adventure" class="dropdown-item">Adventure</a>
                <a href="{% url 'books' %}?category=fantasy" class="dropdown-item">Fantasy</a>
                <a href="{% url 'books' %}?category=Autobiography" class="dropdown-item">Autobiography</a>
                <a href="{% url 'books' %}?category=History" class="dropdown-item">History</a>
                <a href="{% url 'books' %}?category=Religion" class="dropdown-item">Religion</a>
                <a href="{% url 'books' %}?category=Romance" class="dropdown-item">Romance</a>
                <a href="{% url 'books' %}?category=fiction,non_fiction,true_crime,adventure,fantasy,Autobiography,History,Religion,Romance" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="others-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="others-link">
                <a href="" class="dropdown-item">Graphic Novels</a>
                <a href="" class="dropdown-item">Miscellaneous</a>
                <a href="" class="dropdown-item">Poetry</a>
                <a href="" class="dropdown-item">All Other</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="" class="dropdown-item">New Books</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>